html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
}

.dance-container {
  margin: 40px;
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  pointer-events: none;
  animation: colorContainer 10s infinite;
  box-sizing: content-box;
}

#dittoContainer{
  pointer-events: pointer;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  padding: 20px 40px;
  font-size: 24px;
  color: white;
  background-color: #ff4081;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 3;
}

.corner-image {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 20vw;
}

body.overlay {
  animation: colorChange 15s infinite;
}

.overlay.hidden {
  display: none;
}

body.animated-bg {
  animation: colorChange 10s infinite;
}

@keyframes colorChange {
  0% {
    background-color: #f06292;
  }

  2% {
    background-color: #ff4081;
  }

  14% {
    background-color: #ff8f00;
  }

  26% {
    background-color: #ffeb3b;
  }

  38% {
    background-color: #4caf50;
  }

  50% {
    background-color: #2196f3;
  }

  62% {
    background-color: #3f51b5;
  }

  74% {
    background-color: #9c27b0;
  }

  86% {
    background-color: #f06292;
  }

  100% {
    background-color: #ff4080c9;
  }
}

@keyframes colorContainer {
  0% {
    background-color: #ff00ff;
  }

  10% {
    background-color: #f06292;
  }

  20% {
    background-color: #ff3399;
  }

  30% {
    background-color: #ff6666;
  }

  40% {
    background-color: #ff9933;
  }

  50% {
    background-color: #ffff00;
  }

  60% {
    background-color: #00ff00;
  }

  70% {
    background-color: #00ffff;
  }

  80% {
    background-color: #0066ff;
  }

  90% {
    background-color: #3300ff;
  }

  100% {
    background-color: #9900ff;
  }
}

.random-ditto-right {
  position: absolute;
  animation: moveDittoRight linear infinite;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.random-ditto-left {
  position: absolute;
  animation: moveDittoLeft linear infinite;
  opacity: 0.2;
  user-select: none;
}

@keyframes moveDittoRight {
  0% {
    transform: translateX(70vw);
  }

  50% {
    transform: translateX(-70vw);
  }

  100% {
    transform: translateX(70vw);
  }
}

@keyframes moveDittoLeft {
  0% {
    transform: translateX(-70vw);
  }

  50% {
    transform: translateX(70vw);
  }

  100% {
    transform: translateX(-70vw);
  }
}